/* css/styles.css */

body {
    background-color: #f8f9fa;
}

#htmlPreviewContent {
    font-size: 16px;
    font-family: serif;
}

#htmlPreviewContent .heading {
    font-size: 27px;
    font-family: serif;
}

#htmlPreviewContent sup {
    font-size: 0.6rem;
    font-weight: bold;
}

#htmlPreviewContent span.review {
    color: red;
}

#htmlPreviewContent hr.remove {
    border: none; /* Remove default border */
    border-top: 5px solid green; /* Create a thick, red line */
    height: 0; /* Set the height to 0 to remove any vertical space */
}

#htmlPreviewContent p.pageNum.remove {
    text-align: right;
    font-style: italic;
    margin-top: -1.2rem;
}

#htmlPreviewContent .remove {
    color: green;
}

#htmlPreviewContent .gutter {
    color: orange;
}

.card {
    max-width: 600px;
    margin: 0 auto;
}

.alert {
    margin-bottom: 0;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px; /* space between images and arrow */
}

.image-container img {
    max-width: 40px;
    height: auto; /* maintain aspect ratio */
}

.arrow-icon {
    font-size: 20px;
}

#logContainer {
    font-family: monospace;
    font-size: 0.6rem;
    height: 200px;
    overflow-y: auto;
    border: 1px solid #ddd;
    padding: 10px;
    display: none;
}

#logContainer p {
    margin: 0;
}