/* css/styles.css */

body {
    background-color: #f8f9fa;
}

#htmlPreviewContent {
    font-size: 16px;
    font-family: serif;
}

#htmlPreviewContent p {
    text-align: justify;
}

#htmlPreviewContent .pageNum {
    text-align: center;
    font-family: monospace;
    color: green;
}

#htmlPreviewContent .heading {
    font-family: serif;
}

#htmlPreviewContent .smallCaps {
    /* Text has been converted to upper case */
    font-size: 1.1rem;
    font-weight: bold;
}

#htmlPreviewContent sup {
    font-size: 0.8rem;
    font-weight: bold;
    top: -.2rem;
}

#htmlPreviewContent p.footnote-reference {
    text-align: left;
    /*margin-bottom: -1.5rem;*/
}

#htmlPreviewContent span.review {
    color: red;
}

#htmlPreviewContent hr.remove {
    border: none; /* Remove default border */
    border-top: 5px solid green; /* Create a thick, red line */
    height: 0; /* Set the height to 0 to remove any vertical space */
}

#htmlPreviewContent .remove {
    color: green;
}

#htmlPreviewContent .gutter {
    color: orange;
    display: none;
}

.card {
    max-width: 600px;
    margin: 0 auto;
}

.alert {
    margin-bottom: 0;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px; /* space between images and arrow */
}

.image-container img {
    max-width: 40px;
    height: auto; /* maintain aspect ratio */
}

.arrow-icon {
    font-size: 20px;
}

#logContainer {
    font-family: monospace;
    font-size: 0.6rem;
    height: 200px;
    overflow-y: auto;
    border: 1px solid #ddd;
    padding: 10px;
    display: none;
}

#logContainer p {
    margin: 0;
}