name: Deploy XHTML Visualisation

on:
  push:
    branches: ["master"]
  workflow_dispatch:

jobs:
  deploy-xhtml:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/configure-pages@v5
      - uses: actions/upload-pages-artifact@v3
        with:
          path: 'xhtml-view'
      - uses: actions/deploy-pages@v4
        id: deployment
